{{ define "about" }}

{{ template "header" }}

<body>
    
    <div class="about">
        <h1 style="color: rgb(4, 160, 56); font-style: italic; font-size: 22px;">О компании</h1>
        <div class="about-logo">
            <h1  style="color: rgb(4, 160, 56);">ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "GreenLabel"</h1>
            <img src="../../../../assets/image/logo.webp" alt="">
        </div>

        <div class="about-text">
            <div class="text">
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dicta, reprehenderit delectus dolor nemo dolorum maiores illum iusto obcaecati officia excepturi atque! Aliquid eligendi suscipit maiores optio modi atque tempore."
            </div>
            <div class="photo">
                <img src="../../../../assets/data/1c_logo.png" alt="">
                <div class="name">Владелец компании - Павликов Александр Олегович</div>
            </div>
        </div>

        <h2>Сертификаты</h2>
        <div class="sertificats">
            <div class="img"><img src="../../../../assets/data/1c_logo.png" alt=""></div>
            <div class="img"><img src="../../../../assets/data/1c_logo.png" alt=""></div>
            <div class="img"><img src="../../../../assets/data/1c_logo.png" alt=""></div>
            <div class="img"><img src="../../../../assets/data/1c_logo.png" alt=""></div>
            <div class="img"><img src="../../../../assets/data/1c_logo.png" alt=""></div>
            <div class="img"><img src="../../../../assets/data/1c_logo.png" alt=""></div>
            <div class="img"><img src="../../../../assets/data/1c_logo.png" alt=""></div>
            <div class="img"><img src="../../../../assets/data/1c_logo.png" alt=""></div>
            <div class="img"><img src="../../../../assets/data/1c_logo.png" alt=""></div>
            <div class="img"><img src="../../../../assets/data/1c_logo.png" alt=""></div>
        </div>

    </div>

</body>

{{ template "footer" }}

{{ end }}
