{{ define "clients" }}

<body>

    <div class="clients">
        <h1 style="color: rgb(4, 160, 56); padding: 20px 0;">Компании, которые доверяют нам!</h1>
        {{ range $_, $tc := .TrustCompany }}
       <div class="client">
            <div class="logo"><img src="{{ $tc.Logo }}" alt=""></div>
            <div class="text">
                <div class="name">{{ $tc.Name }}</div>
                <div class="main-text">{{ $tc.Description }}</div>
                <span>Спасибо, что доверяете нам!</span>
            </div>
       </div>
       {{ end }}
    </div>

</body>

{{ template "footer" }}

{{ end }}
