{{ define "news" }}

<body>
    <div class="news-block">

        <h1 style="color: rgb(4, 160, 56); width: 100%;">Новости</h1>

        <div class="news-post">
            <div class="post-img">
                <img src="/assets/data/news/1.jpeg" alt="">
            </div>
            <a href="/post" class="title">Заголовок новости</a>
        </div>

        {{ range $_, $n := .News }}
        <div class="news-post">
            <div class="post-img">
                <img src="{{$n.Avatar}}" alt="">
            </div>
            <a href="/post?{{$n.Id}}" class="title">{{$n.Title}}</a>
        </div>
        {{ end }}

    </div>

    <div class="pagination:container">
        <a href="/news?page=-1" class="pagination:number arrow">
          
            <i class="fa-solid fa-angle-left"></i>
        </a>
        
        <a href="/news?page=1" class="pagination:number">
          1
        </a>

        ...
        
        <a href="/news?page=last" class="pagination:number">
          540
        </a>
        
        <a href="/news?page=+1" class="pagination:number arrow">
            <i class="fa-solid fa-angle-right"></i>
        </a>
    </div>
      

    

</body>

{{ template "footer" }}

{{ end }}
