{{ define "post" }}

<link rel="stylesheet" href="/assets/css/post.css">

<body>
    
    <div class="post">
        <div class="photo">
            <div class="img">
                <img src="../../../../assets/data/news/1.jpeg" alt="">
            </div>
            <div class="title">
                <h1>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nisi cumque vitae. Fugiat quia atque dicta laborum
                </h1>
                <span>12:45 12.12.1212</span>   
                </div>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe illum sapiente deserunt et vitae ratione a blanditiis, nisi, veritatis natus tempore ipsam quos provident distinctio consequuntur esse vero. Excepturi, eveniet.
        </p>
    </div>

</body>

{{ template "footer" }}

{{ end }}
