{{ define "vacancy" }}

{{ template "header" }}

<body>
    
    <div class="vacancy">
        <h1 style="color: rgb(4, 160, 56);">Вакансии</h1>
        <span style=" margin-bottom: 40px; text-align: center;">Резюме отправляйте на почту a.pavlikov2002@gmail.com</span>
        <div class="vacancy-item">
            <div class="name">Инженер КИП и А</div>
            <ul class="option">
                <span>Требования</span>
                <li>Возраст 18-45 лет</li>
                <li>Опыт работы не менее 3 лет</li>
                <li>Отсутствие вредных привычек</li>
            

            </ul>
        </div>
    </div>

</body>

{{ template "footer" }}

{{ end }}
