{{ define "client" }}

{{ template "dialog" }}



<main>

    <div class="sorted">
        <form class="sort-client" action="/edm/client/sorted/" method="post">
            <input type="text" placeholder="Название" name="name">
            <input type="text" placeholder="ИНН" name="inn">
            <input type="text" placeholder="ОГРН" name="ogrn">
            <button type="submit" class="main-btn"><i class="fa-regular fa-square-check"></i></button>
        </form>
        {{ if eq .OK true }}
        <form class="del" action="/edm/client"><button class="main-btn" type="submit">Удалить сортировку</button></form>
        {{ end }}
    </div>

    {{ if eq .Auth "Admin" }}
    <div class="add">
        <button class="main-btn" onclick="window.dialogclient.showModal();">Создать клиента</button>
    </div>
    {{ end }}

    <table class="table-sortable">
        <thead>
            <tr>
                <th>id</th>
                <th>Название</th>
                <th>ИНН</th>
                <th>КПП</th>
                <th>ОГРН</th>
                <th>Владелец</th>
                <th>Телефон</th>
                <th>Почта</th>
                <th>Адрес</th>
                <th>Дата создания</th>
                <th>Статус</th>
                <th><i class="fa-solid fa-pen-to-square"></i></th>
            </tr>
        </thead>
        <tbody>

            {{ range $_, $cl := .Clients }}
            <tr>
                <td style="text-align: center;">{{ $cl.Id }}</td>
                <td>{{ $cl.Name }}</td>
                <td>{{ $cl.INN }}</td>
                <td>{{ $cl.KPP }}</td>
                <td>{{ $cl.OGRN }}</td>
                <td>{{ $cl.Owner }}</td>
                <td>{{ $cl.Phone }}</td>
                <td>{{ $cl.Email }}</td>
                <td>{{ $cl.Address }}</td>
                <td>{{ $cl.CreateDate }}</td>
                <td>
                    {{ if eq $cl.Status true }}
                        Активен
                    {{ else }}
                        Не активен
                    {{ end }}
                </td>
                <!-- <td class="edit" onclick="window.dialogclientedit.showModal();"><button><i class="fa-solid fa-pen-to-square"></i></button></td> -->
                <td class="edit">
                    <form action="/edm/client/edit" method="get">
                        <input style="display: none;" name="id" type="text" value="{{$cl.Id}}">
                        <button class="edtbtn">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</main>

{{ template "footer" }}

{{ end }}
