{{ define "contract" }}

{{ template "dialog" }}

<dialog class="dialogsub-medium" id="dialogcontract">
    <h3 class="main-color" style="text-transform: uppercase;">Добавить новый контракт</h3>

    <form action="/edm/contract/add" class="content-medium" autocomplete="off">
        <span>Название контракта</span>
        <input type="text" name="name" id="" placeholder="Название">
        <select class="select" name="client" id="" style="margin-bottom: 20px; width: 106%;">
            <option disabled selected>Клиент</option>
            {{ range $_, $cl := .Clients }}
            <option value="{{ $cl.Id }}">{{ $cl.Name }}</option>
            {{ end }}
        </select>
        <div class="content-medium-case">
            <div style="margin-right: 30px;">
                <span>Дата начала</span>
                <input type="date" name="startdate" id="" placeholder="Дата">
            </div>
            <div>
                <span>Дата окончания</span>
                <input type="date" name="enddate" id="" placeholder="Дата">
            </div>
        </div>
    
        <span>Стоимость контракта</span>
        <input type="number" name="price" id="" placeholder="Стоимость">
        <span>Скан контракта</span>
        <input type="file" name="file" id="" placeholder="Котракт">
        <button class="main-btn m-auto">Создать</button>
    </form>

	<button onclick="window.dialogcontract.close();" aria-label="close" class="x">❌</button>
</dialog>

<main>

    <div class="sorted">
        <form class="sort-client" action="/edm/contract/sorted/" method="post">
            <input type="text" name="client" placeholder="Клиент">
            <input type="text" name="start" placeholder="Дата начала">
            <input type="text" name="end" placeholder="Дата окончания">
            <select style="padding: 5px 10px;" name="status" id="">
                <option disabled selected>Статус</option>
                <option value="true">Активен</option>
                <option value="false">Не активен</option>
            </select>
            <button type="submit" class="main-btn"><i class="fa-regular fa-square-check"></i></button>
        </form>
        {{ if eq .OK true }}
        <form class="del" action="/edm/contract"><button class="main-btn" type="submit">Удалить сортировку</button></form>
        {{ end }}
    </div>

    <div class="add">
        <button class="main-btn" onclick="window.dialogcontract.showModal();">Добавить контракт</button>
    </div>

    <table class="table-sortable">
        <thead>
            <tr>
                <th>id</th>
                <th>Название</th>
                <th>Клиент</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Стоимость</th>
                <th>Документ</th>
                <th>Статус</th>
                <th><i class="fa-solid fa-pen-to-square"></i></th>
            </tr>
        </thead>
        <tbody>
            {{ range $_, $ct := .Contracts }}
            <tr>
                <td style="text-align: center;">{{ $ct.Id }}</td>
                <td>{{ $ct.Name }}</td>
                <td>{{ $ct.Client.INN }} {{ $ct.Client.Name }}</td>
                <td>{{ $ct.DataStart }}</td>
                <td>{{ $ct.DataEnd }}</td>
                <td>{{ $ct.Amount }}</td>
                <td>{{ $ct.File }}</td>
                {{ if eq $ct.Status true }}
                <td>Активен</td>
                {{ else }}
                <td>Не активен</td>
                {{ end }}
                <!-- <td class="edit"><button><i class="fa-solid fa-pen-to-square"></i></button></td> -->
                <td class="edit">
                    <form action="/edm/contract/edit" method="get">
                        <input style="display: none;" name="id" type="text" value="{{$ct.Id}}">
                        <button class="edtbtn">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</main>

{{ template "footer" }}

{{ end }}
