{{ define "equipment" }}

{{ template "dialog" }}

<main>

    <div class="sorted">
        <form class="sort-client" action="/edm/equipment/sorted/" method="post">
            <input type="text" placeholder="ИНН">
            <input type="text" placeholder="КПП">
            <input type="text" placeholder="ОГРН">
            <button type="submit" class="main-btn"><i class="fa-regular fa-square-check"></i></button>
        </form>
    </div>

    <div class="add">
        <button class="main-btn" onclick="window.dialogequipment.showModal();">Создать оборудование</button>
    </div>

    <table class="table-sortable">
        <thead>
            <tr>
                <th>id</th>
                <th>Название</th>
                <th>Тип</th>
                <th>Производитель</th>
                <th>Модель</th>
                <th>Уникальный номер</th>
                <th>Инструкция</th>
                <th>Дата добавления</th>
                <th><i class="fa-solid fa-pen-to-square"></i></th>
            </tr>
        </thead>
        <tbody>

            {{ range $_, $e := .Equipments }}
            <tr>
                <td style="text-align: center;">{{ $e.Id }}</td>
                <td>{{ $e.Name }}</td>
                <td>{{ $e.Type }}</td>
                <td>{{ $e.Manufacture }}</td>
                <td>{{ $e.Model }}</td>
                <td>{{ $e.UniqueNumber }}</td>
                <td>{{ $e.Contract }}</td>
                <td>{{ $e.CreateDate }}</td>
                <td class="edit"><button><i class="fa-solid fa-pen-to-square"></i></button></td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</main>

{{ template "footer" }}

{{ end }}
