{{ define "service" }}

{{ template "dialog" }}

<dialog class="dialogsub-small" id="dialogservices" style="max-height: 35%;">
    <h3 class="main-color" style="text-transform: uppercase;">Создать услугу</h3>

    <form action="/edm/service/add" class="content-small" autocomplete="off">

            <div class="sub-title" style="width: 97%;"><span>Оборудование</span></div>
            <select name="equipment" id="" class="select">
                {{ range $_, $eq := .Eq }}
                <option value="{{ $eq.Id }}">{{ $eq.Name }} - {{ $eq.Manufacture }} - {{ $eq.Model }}- {{ $eq.Type }}</option>
                {{ end }}
            </select>
            <div class="sub-title" style="width: 97%;"><span>Тип услуги</span><a class="text-btn primary" style="padding: 0;" onclick="window.dialogservicetype.showModal();">Создать</a></div>
            <select name="type" id=""  class="select">
                {{ range $_, $t := .Type }}
                <option value="{{ $t }}">{{ $t }}</option>
                {{ end }}
            </select>
        <input type="number" name="cost" id="" placeholder="Стоимость">
        <button class="main-btn m-auto">Создать</button>
    </form>

	<button onclick="window.dialogservices.close();" aria-label="close" class="x">❌</button>
</dialog>

<main>

    <div class="sorted">
        <form class="sort-client" action="/edm/service/sorted/" method="post">
            <select name="equipment">
                <option disabled selected>Оборудование</option>
                {{ range $_, $e := .Eq }}
                <option value="{{ $e.Id }}">{{ $e.Name }}</option>
                {{ end }}
            </select>
            <select name="type">
                <option disabled selected>Тип услуги</option>
                {{ range $_, $tp := .Type }}
                <option value="{{ $tp }}">{{ $tp }}</option>
                {{ end }}
            </select>
            <button type="submit" class="main-btn"><i class="fa-regular fa-square-check"></i></button>
        </form>
        {{ if eq .OK true }}
        <form class="del" action="/edm/service"><button class="main-btn" type="submit">Удалить сортировку</button></form>
        {{ end }}
    </div>

    {{ if eq .Auth "Admin" }}
    <div class="add">
        <button class="main-btn" onclick="window.dialogservices.showModal();">Добавить услугу</button>
    </div>
    {{ end }}

    <table class="table-sortable">
        <thead>
            <tr>
                <th>id</th>
                <th>Оборудование</th>
                <th>Тип</th>
                <th>Стоимость</th>
                <th><i class="fa-solid fa-pen-to-square"></i></th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <td style="text-align: center;">1</td>
                <td>1 - Самокат</td>
                <td>Тест</td>
                <td>12 000</td>
                <td class="edit"><button><i class="fa-solid fa-pen-to-square"></i></button></td>
            </tr> -->
            {{ range $_, $s := .Services }}
            <tr>
                <td style="text-align: center;">{{ $s.Id }}</td>
                <td>{{ $s.Equipment }} - {{ $s.EquipmentStructure.Name }}</td>
                <td>{{ $s.Type }}</td>
                <td>{{ $s.Cost }}</td>
                <td class="edit">
                    <form action="/edm/service/edit" method="get">
                        <input style="display: none;" name="id" type="text" value="{{$s.Id}}">
                        <button class="edtbtn" onclick="window.dialogedit.showModal();">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</main>

{{ template "footer" }}

{{ end }}
