{{ define "user" }}

{{ template "dialog" }}

<dialog class="dialogsub-medium" id="dialogworkers" style="height: 65%;">
    <h3 class="main-color" style="text-transform: uppercase;">Создать нового сотрудника</h3>

    <form action="/edm/user/add" class="content-medium" autocomplete="off">
        <span>Фамилия/Имя/Отчество</span>
        <input type="text" name="fio" id="" placeholder="ФИО">
        <span>Почта</span>
        <input type="email" name="email" id="" placeholder="Почта">
        <span>Телефон</span>
        <input type="tel" name="phone" id="" placeholder="Номер телефона">
        <span>Фото</span>
        <input type="file" name="status" accept="image/*" placeholder="Статус">
        <div class="sub-title" style="width: 97%;"><span>Роль пользователя</span><a class="text-btn primary" style="padding: 0;" onclick="window.dialogworkerrole.showModal();">Создать</a></div>
        <select class="select" name="role" id="" style="margin-bottom: 40px;">
            <option disabled selected>Роль пользователя</option>
            {{ range $_, $rl := .Role }}
            <option value="{{ $rl }}">{{ $rl }}</option>
            {{ end }}
        </select>
        <button class="main-btn m-auto">Создать</button>
    </form>

	<button onclick="window.dialogworkers.close();" aria-label="close" class="x">❌</button>
</dialog>

<main>

    <div class="sorted">
        <form class="sort-client" action="/edm/user/sorted/" method="post">
            <input type="text" placeholder="ФИО" name="fio">
            <input type="text" placeholder="Почта" name="email">
            <input type="text" placeholder="Телефон" name="phone">
            <select name="role" id="" style="padding: 5px 10px;">
                <option selected disabled>Роль</option>
                {{ range $_, $r := .Role }}
                <option value="{{ $r }}">{{ $r }}</option>
                {{ end }}
            </select>
            <button type="submit" class="main-btn"><i class="fa-regular fa-square-check"></i></button>
        </form>
    </div>

    <div class="add">
        <button class="main-btn" onclick="window.dialogworkers.showModal();">Добавить сотрудника</button>
    </div>

    <table class="table-sortable">
        <thead>
            <tr>
                <th>id</th>
                <th>Почта</th>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>Фото</th>
                <th>Роль</th>
                <th><i class="fa-solid fa-pen-to-square"></i></th>
            </tr>
        </thead>
        <tbody>

            {{ range $_, $us := .User }}

            <tr>
                <td style="text-align: center;">{{ $us.Id }}</td>
                <td>{{ $us.Email }}</td>
                <td>{{ $us.FullName }}</td>
                <td>{{ $us.Phone }}</td>
                <td>{{ $us.Image }}</td>
                <td>{{ $us.Role }}</td>
                <td class="edit"><button><i class="fa-solid fa-pen-to-square"></i></button></td>
            </tr>

            {{ end }}
        
        </tbody>
    </table>
</main>

{{ template "footer" }}

{{ end }}
