body {
	background: url(/assets/data/fon1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100vw;
	height: 100vh;
}

.chat {
	margin: 50px 18%;
	
	width: 70%;
	height: 80%;
	display: flex;
	flex-direction: row;
}

.chat .list {
	width: 32%;
	background-color: rgb(0, 132, 255);
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	overflow-y: scroll;
}


.list::-webkit-scrollbar {
    width: 0px;
}

.text::-webkit-scrollbar {
    width: 0px;
}

.chat .list .object-add {
	height: 50px;
	background-color: rgb(255, 209, 4);
	margin-bottom: 10px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 15px;
	display: flex;
	flex-direction: row;
	position: relative;
	margin: 10px 20px;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	
}

.chat .list .object-add:hover {
	cursor: pointer;
}

.chat .list .object-add i {
	font-size: 22px;
	color: white;
	margin-right: 10px;
}

.chat .list .object-add span {
	font-size: 22px;
	color: white;
}

.chat .list .object {
	height: 50px;
	background-color: rgb(184, 255, 112);
	margin-bottom: 10px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 15px;
	display: flex;
	flex-direction: row;
	position: relative;
	margin: 10px 20px;
}

.chat .list .object:hover {
	cursor: pointer;
}

.chat .list .object img {
	width: 50px;
	height: 50px;
	margin-right: 20px;
	background-color: white;
	border-radius: 45px;
	padding: 2px;
}

.chat .list .object .info {
	width: 80%;
	display: flex;
	flex-direction: column;
}

.chat .list .object .info span {
	text-align: center;
	font-size: 20px;
}

.chat .list .object .info .msg {
	text-indent: 20px;
	overflow: hidden;
	font-size: 18px;
}

.chat .list .object .info .dots {
	position: absolute;
	font-size: 25px;
	right: 4%;
	bottom: 20%;
}

.chat .message {
	width: 68%;
	background-color: rgba(222, 184, 135, 0.5);
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.chat .message .message-header {
	width: 100%;
	height: 100px;
	background-color: rgb(0, 132, 255);
	display: flex;
	flex-direction: row;
}

.chat .message .message-header img {
	width: 70px;
	height: 70px;
	margin-left: 20px;
	border-radius: 45px;
	background-color: white;
	padding: 1px;
	margin: auto 0;
	margin-left: 20px;
}

.chat .message .message-header .center {
	width: calc(100%-70px);
	text-align: center;
	margin: auto;
	color: white;
	
}

.chat .message .message-header .center .name {
	font-weight: 700;
	font-size: 22px;
}

.chat .message .message-header .center .members {
	font-weight: 0;
	font-size: 14px;
}


.chat .message .message-header .center .members:hover {
	text-decoration: underline;
	cursor: pointer;
}

.message .text {
	position: relative;
	width: 100%;
	height: 90%;
	overflow: scroll;
}

.message .text .text-object {
	width: max-content;
	max-width: 50%;
	min-height: 50px;
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 10px 30px 15px 10px;
	border: 2px solid rgb(0, 132, 255);
	margin: 10px 20px 20px 20px;
	/* border-radius: 25px; */
	text-align: justify;
	background-color: white;
}

.message .text .text-object img {
	width: 50px;
	height: 100%;
	margin-right: 20px;
}

.message .text .text-object .data {
	display: flex;
	flex-direction: column;
	position: relative;
}

.message .text .text-object .data .sms {
	height: 90%;
}

.message .text .text-object .data .date {
	height: 10%;
	text-align: right;
	font-size: 12px;
	color: gray;
}

.message .send {
	width: 100%;
	height: 10%;
	position: relative;
	background-color: rgb(0, 132, 255);
	display: flex;
	flex-direction: row;
}

.message .send form {
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.message .send form input {
	width: 80%;
	margin-right: 0%;
	font-size: 18px;
	padding: 10px 15px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border: none;
}


.message .text .nmy {
	float: left;
	margin-right: 50%;
	border-bottom-left-radius: none;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}


.message .text .my {
	float: right;
	margin-left: 50%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: none;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.message .text .my .data .date {
	text-align: left;
}

.message .text .my img {
	margin-right: 0;
	margin-left: 20px;


}

.message .send form button {
	width: 12%;
	font-size: 18px;
	padding: 10px 15px;
	margin-left: 0;
	border: none;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
.multiselect {
	width: 100%;
	margin-bottom: 40px;
	position: relative;
	height: 70%;
  }
  
  .selectBox {
	width: 100%;
	position: relative;
  }
  
  .selectBox select {
	width: 100%;
	font-weight: bold;
	font-size: 20px;
	font-weight: normal;
	padding: 10px 15px;
  }
  
  .overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
  }
  
  #checkboxes {
	display: none;
	border: 1px #dadada solid;
	padding: 0 5px;
	margin: auto;
	height: 100%;
	overflow-y: auto;
  }
  
  #checkboxes label {
	display: flex;
	flex-direction: row;
  }

  #checkboxes label input {
	width: 20%;
  }

  #checkboxes label span {
	width: 80%;
  }
  
  #checkboxes label:hover {
	background-color: #1e90ff;
  }
